body {
    background-color: black;
}
.line {
    color: white;
    left: 0%;
}

#waiter {
    position: absolute;
    left: 310px;
    bottom: 602px;
    background-color: white;
    width: 8px;
    height: 18px;
}