body {
    background-color: black;
}
.line {
    color: white;
    left: 0%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#waiter {
    position: sticky;
    transform:translate(10px, 14px);
    background-color: white;
    width: 8px;
    height: 18px;
}

#linewaiter {
    display: flex;
}

#hiddenPasswordInput {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    top: -1000px; /* Position off-screen */
    left: -1000px; /* Position off-screen */
}